.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  padding-bottom: 41px;
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 28px;
    max-width: 320px;
    width: 100%;
  }
  .header__logo {
    width: 126px;
    height: 24px;
    padding-left: 27px;
  }
}
