.modal {
  /*
  align-items: center;
  justify-content: center;
  */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal__container {
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  width: 430px;
  max-height: 330px;
  padding: 36px;
  position: relative;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 30px;
  border-bottom: 1px;
}

.modal__heading {
  margin: 0;
  color: #000;
  font-family: inter, "san-serif";
  font-weight: 900;
  font-size: 24px;
  max-width: 330px;
  max-height: 23px;
  padding-bottom: 54px;
}

.modal__close {
  background: url(../images/Close\ Icon.svg);
  border: none;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  /*
  top: -40px;
  right: -40px;
  */
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
}

.modal_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__button {
  height: 50px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
}

.modal__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__form-input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: Inter, "sans-serif";
  font-size: 14px;
  font-weight: 400;
  line-height: 2.5;
}

::placeholder {
  color: #000;
}

.modal__content {
  margin: auto;
  position: relative;
}

.modal__close-preview {
  top: -34px;
  right: -32px;
  background-image: url(../images/Close\ Icon.svg);
  opacity: 1;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__caption {
  max-width: 291px;
  max-height: 12px;
  font-family: "Inter", "sans-serif";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.modal__transition-btn {
  animation: opacity 0.5s linear;
}

@media screen and (max-width: 320px) {
  .modal__container {
    width: 282px;
    max-height: 322px;
    padding: 25px;
    margin: 123px 19px;
  }
  .modal__heading {
    max-width: 238px;
    padding-bottom: 75px;
  }
  .modal__close {
    background: url(../images/Close\ Icon-320.svg);
    border: none;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    width: 26px;
    top: -43px;
    left: 258px;
  }
  .modal__heading {
    line-height: 22px;
    font-size: 18px;
    max-width: 238px;
  }

  .modal__button {
    font-size: 14px;
  }

  .modal__close-preview {
    background-image: url(../images/Close\ Icon-320.svg);
    top: -23px;
    left: revert-layer;
  }
}

.modal__error {
  display: block;
  color: red;
  font-size: 12px;
  line-height: 15px;
}

.modal__button_disabled {
  background-color: gray;
}
