.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.proflie__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__image {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-fit: cover;
  background-position: center;
  margin-right: 26px;
}

.profile__title {
  max-width: 373px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  grid-area: title;
  margin: 0;
}

.profile__edit-button {
  background: transparent url(../images/Edit\ Button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px;
  margin-top: 18px;
}

.profile__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  grid-area: description;
  margin: 0;
}

.profile__add-button {
  background: transparent url(../images/Add\ Button.svg) center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: auto;
}
