body{
text-align: center;

}



@media(min-width:0px){

 p{
    font-size: medium;
    font-style: italic;
    color: aliceblue;
    
 }   

}

@media(min-width:600px){
   .one

   
    
   

}

@media(min-width:992px){
    .two picture



}

html{
    background-color: black;
}